<div class="row" *ngIf="member">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div>
                    <strong>Ide jöhet valami</strong>
                    <p>{{member.email}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Last Active:</strong>
                    <p>{{member.lastActive}}</p>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{member.created}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>
                    <button class="btn btn-success">Message</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading='Leckék'>
                <h4>Leckék</h4> 
                <ul class="list-group">
                    <li class="list-group-item " *ngFor="let word of member.lessons" >
                        <span class="float-right">{{word.level}}</span>
                        <span class="float-left">{{word.name}}</span>
                    </li>
                </ul>              
            </tab>
            <tab heading='Módosítás'>
                <app-user-edit [member]="member"></app-user-edit>
            </tab>
            <tab heading='etc'>
                valami
            </tab>
            <tab heading='etc'>
                <p>valamimás</p>
            </tab>
        </tabset>
    </div>
</div>