<div class="row" *ngIf="member">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div>
                    <strong>Teljes Név:</strong>
                    <p>{{member.fullname}}</p>
                </div>
                <div>
                    <strong>Email</strong>
                    <p>{{member.email}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Kitölthető leckék</strong>
                    <p>{{lessons.length}}</p>
                </div>
                <div>
                    <strong>Eredmények darabszáma:</strong>
                    <p>{{lessonResult.length}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>
                    <button class="btn btn-success">Message</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading='Leckék'>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Lecke Neve</th>
                                <th>Szint</th>
                                <th>Szavak száma</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let l of lessons">
                                <td>{{l.name}}</td>
                                <td>{{l.level}}</td> 
                                <td>{{getWordsLenght(l.words)}}</td>                               
                                <td><button routerLink='/doLesson/{{member.id}}/{{l.id}}' class="btn btn-sm btn-primary"><i class="fa fa-align-justify"></i></button></td>
                            </tr>
                        </tbody>
                    </table>          
            </tab>
            <tab heading='Lecke Eredmények'>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Név</th>
                            <th>Eltalált szavak</th>
                            <th>Hibázott szavak</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let lr of lessonResult">
                            <td>{{lr.lessonName}}</td>
                            <td>{{lr.correctWord}}</td>
                            <td>{{lr.notCorrectWord}}</td>
                        </tr>
                    </tbody>
                </table>  
            </tab>
            <tab heading='Módosítás'>
                <app-user-edit [member]="member"></app-user-edit>
            </tab>
            
            <tab heading='etc'>
                <p>valamimás</p>
            </tab>
        </tabset>
    </div>
</div>