<div class="container-fluid h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h3>Regisztrálás</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]='registerForm' (ngSubmit)="registerForm.valid && register()" >
                        <app-text-input [formControl]='registerForm.controls["username"]' [label]='"Felhasználó név"'></app-text-input>
                        <app-text-input [formControl]='registerForm.controls["fullname"]' [label]='"Teljes név:"'></app-text-input>     
                        <app-text-input [formControl]='registerForm.controls["email"]' [label]='"Email"'></app-text-input>                     
                        <app-date-input [formControl]='registerForm.controls["dateOfBirth"]' [label]='"Születési idő"' ></app-date-input>
                        <div class="form-group">
                            <label class="control-label" style="margin-right: 10px;">Nem:</label>
                            <label class="radio-inline">
                                <input type="radio" value='Fiú' formControlName='gender'> Fiú
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value='Lány' formControlName='gender' class="ml-3"> Lány
                            </label>
                        </div>
                        <app-text-input [formControl]='registerForm.controls["password"]' [label]='"Jelszó"' [type]='"password"'></app-text-input>
                        <app-text-input [formControl]='registerForm.controls["confirmPassword"]' [label]='"Jelszó mégegyszer"'  [type]='"password"'></app-text-input>

                        <div class="row" *ngIf="validationErrors.length > 0">
                            <ul class="text-danger">
                                <li *ngFor="let error of validationErrors">
                                    {{error.description}}
                                </li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Regisztrálás" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button (click)="cancel()" class="btn float-left btn-primary">Bejelentkezés</button>
                </div>
            </div>
        </div>
    </div>
</div>
    
